	.img{
		width: 35%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.center {
		display: block;
		margin: 0 auto;
	}
	.right {
		position: absolute;
		right: 0px;
		width: 30%;
	}
	.boxL {
		background-color: white;
		max-width: 20%;
		height: 600px;
		text-align: center;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding: 55px 5% 85px 5%;
		position: absolute;
		left: 5%;
		top: 900px;
		color: white;
		box-shadow: 0px 1px 1px 1px lightgray;
	}
	.boxM {
		background-color: white;
		max-width: 20%;
		height: 600px;
		text-align: center;
		padding: 55px 5% 85px 5%;
		position: absolute;
		left: 35%;
		top: 900px;
		float: left;
		color: white;
		border-left-width: 1px;
		border-left-color: lightgray;
		border-left-style: solid;
		box-shadow: 0px 1px 0px 1px lightgray;
	}
	.boxR {
		background-color: white;
		max-width: 20%;
		height: 600px;
		text-align: center;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 55px 5% 85px 5%;
		position: absolute;
		left: 65%;
		top: 900px;
		color: white;
		border-left-width: 1px;
		border-left-color: lightgray;
		border-left-style: solid;
		box-shadow: 1px 1px 0px 1px lightgray;
	}
	.boxL2 {
		margin: 10px;
		background-color: white;
		max-width: 20%;
		height: 250px;
		text-align: center;
		border-radius: 10px;
		padding: 55px 3% 85px 3%;
		position: absolute;
		left: 3%;
		top: 352%;
		color: white;
		box-shadow: 1px 1px 1px 1px lightgray;
	}
	.boxM2 {
		margin: 10px;
		background-color: white;
		max-width: 20%;
		height: 250px;
		text-align: center;
		padding: 55px 3% 85px 3%;
		position: absolute;
		left: 36%;
		top: 352%;
		float: left;
		color: white;
		border-left-width: 1px;
		border-left-color: lightgray;
		border-left-style: solid;
		box-shadow: 1px 1px 1px 1px lightgray;
		border-radius: 10px;
	}
	.boxR2 {
		margin: 10px;
		background-color: white;
		max-width: 20%;
		height: 250px;
		text-align: center;
		border-radius: 10px;
		padding: 55px 3% 85px 3%;
		position: absolute;
		right: 3%;
		top: 352%;
		color: white;
		border-left-width: 1px;
		border-left-color: lightgray;
		border-left-style: solid;
		box-shadow: 1px 1px 1px 1px lightgray;
	}
	.boxM3 {
		margin-top: 60px;
		background-color: rgb(41,51,70);
		max-width: 75%;
		height: 100px;
		text-align: center;
		padding: 10px 3% 10px 3%;
		color: white;
		box-shadow: 1px 1px 1px 1px darkgray;
		border-radius: 10px;
	}
	a{
		text-decoration: none;
	}